body{
	background-color: #DEDFE9;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
.content-intro,
.content-projects,
.content-follow{
	background-color: #F4F5F8;
}
.navbar{
	padding: 10px 70px;
	margin-bottom: 0;
}
.navbar-default{
	background-color: #322E39;
	border: #322E39;
}
.navbar-default .navbar-brand{
	color: #FFFFFF;
	font-size: 24px;
}
.enfasis{
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-size: 12px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #DD2561;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #DD2561;
    background-color: transparent;
}
.container .content-intro{
	padding: 35px 30px 40px 35px;
	border-bottom: 2px dashed #E0E0E3;
}
.container .content-projects{
	padding: 25px 30px 35px 30px;
	border-bottom: 2px dashed #E0E0E3;
}
.container .content-follow{
	padding: 30px 20px 35px 20px;
}
.content-follow img{
	width: 80px;
}
.vinculo{
	color: #EE2868;
}
footer{
	background-color: #27232D;
	color: #fff;
}
.azul{
	color: #A6A8C6;
}
